.updateComponent {
    width: 47vw;
    margin: 1rem 1rem 1rem 0;
    background-color: rgb(255, 255, 255);
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 10px;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  
  .updateComponent::-webkit-scrollbar {
    width: 0;
  }
  
  .updateButtons {
    display: flex;
    flex-direction: row;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: white;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  }
  
  .updateBox {
    margin: 1rem;
    display: inline-flex;
    color: #2e0669;
    font-weight: 550;
    border-radius: 20px;
  }
  
  .updateDescription {
    margin-left: 1.3rem;
    text-align: justify;
    font-weight: 700;
    color: #2e0669;
  }
  .dateTimeContainer {
    border: 0.08rem solid #2e0669;
    border-radius: 0.2rem;
    display: inline-flex;
    height: 70%;
  }
  
  .dateDiv {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  
  .monYear {
    margin-left: 0.2rem;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  
  .monthDiv,
  .yearDiv {
    font-weight: 650;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hrSeparator {
    align-items: start;
    width: 100%;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
  }
  
  .updateDivSeparator {
    /* left: -22px; */
    margin-left: 10px;
    width: 700px;
    height: 0.1px;
    margin: 1px 0;
    /* border-radius: 5px; */
    background-color: rgb(78, 82, 84);
    transition: width 0.2s ease;
  }
  
  @media (max-width: 767px) {
    .updateButtons {
      display: flex;
      flex-direction: row;
      overflow-y: scroll;
    }
  
    .updateComponent {
      width: 100%;
    }
  }
  