.D1 {
    margin: 1% 0 0 0;
    width: 100%;
    max-height: 100vh;
  }
  
  .H1 {
    color: #690001;
    padding-left: 1%;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
    font-size: 30px;
  }
  
  .M1 a {
    text-decoration: none;
    color: #2e0669;
  }
  
  .M1 a:hover {
    text-decoration: underline;
  }
  
  
  .M1 {
    position: relative;
    width: 100%;
    height: 50%;margin-left: 1%;
    overflow: hidden;
    max-height: 100%;
  }
  
 
  
  @media (max-width: 900px) {
    .D1 {
      /* max-width: fit-content; */
      align-items: center;
      width: 100%;
    }
  
  }
  